
/* Styles the main container for the movie list */
.movie-list {
    display: flex;
    flex-direction: column;
  }

/* Styles the container for the movie cards */
.movie-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Adjust the gap as needed */
  margin-top: 20px;
}

/* Styles each individual movie card */
.movie-card {
  /* Existing styles for movie cards */
  flex: 1 0 250px; /* Set a fixed width for each card */
  max-width:250px;
}